<div id="nv-list">
  <div class="col-6">
    <%= ff.label ff.object.food_group.name %>
    <%= ff.hidden_field :food_group_id, :value => ff.object.food_group.id %>
    <%= ff.text_field :quantity %>
  </div>
</div>
