<div class="col-4 col-m-6">
  <div class="bigbutton">
    <div class="title"><%=title%></div>
    <div class="body">
      <%= link_to value, new_entry_path(:food_group_name => title) %>
    </div>
  </div>
</div>
