<% if user_signed_in? %>
  <div class="row">
    <div class="col-12">
      <div class="bigbutton">
        <div class="title">Graph</div>
        <div class="body">
          Graph Data and Stuff
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% current_user.daily_log.each do |name,portion| %>
      <%= render "big_button", :title => name, :value => portion %>
    <% end %>
  </div>
<% else %>
  <%= link_to "Login", new_user_session_path  %>
  <%= link_to "Sign up", new_user_registration_path  %>
<% end %>
