<% if user_signed_in? %>
<div class="row">
  <% current_user.daily_log.each do |name,portion| %>
    <%= render "big_button", :title => name, :value => portion %>
  <% end %>
</div>
<% else %>
<%= link_to "Login", new_user_session_path  %>
  <%= link_to "Sign up", new_user_registration_path  %>
<% end %>
