<% if user_signed_in? %>
  <div class="row">
    <% current_user.daily_progress.each do |name, values| %>
      <%= render "big_button", :title => name, :value => values[:remaining], :entry_date => Time.zone.now.to_date %>
    <% end %>
  </div>
<% else %>
  <%= link_to "Login", new_user_session_path  %>
  <%= link_to "Sign up", new_user_registration_path  %>
<% end %>
