<% _cols = local_assigns.fetch :columns, 3 %>
<div class="col-<%=_cols%> col-m-6">
  <div class="bigbutton">
    <div class="title"><%=title%></div>
    <div class="body">
      <%= link_to prompt, new_entry_path(:food_group_name => title, :entry_date => entry_date) %>
    </div>
  </div>
</div>
